.cart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;

  .cartitem-remove {
    font-size: 9px;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    margin-left: 5px;

    .cartitem-remove-span {
      left: 5px;
      @media screen and (max-width: 1000px) {
        left: 10px;
      }

      .cartitem-add-span {
        position: relative;
        margin-left: 5px;

        @media screen and (max-width: 1000px) {
          left: 15px;
        }
      }
      cursor: pointer;
      left: -30px;
    }
    .cartitem-details {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .cartitem-name {
      font-size: 13px;
      max-width: 120px;
    }
  }
}
