.sidebar-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 17%;
    top: 180px;
    height: 690px;
    overflow: scroll;
 z-index: 999;

 @media screen  and (max-width: 800px ) {
       
 
    right:-5%; 
    z-index: 999;
   }
    @media screen  and (max-width: 490px ) {
       
      
       right:-10%; 
     
      }
}

.sidebar-images{
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 30px;
    @media screen  and (max-width: 490px ) {
       
    margin-bottom: 25px;
    height: 40px;
    width: 40px;
          }

    &:hover{
        transform: scale(1.1);
        opacity: 0.9;
    }

}

.sidebar-name{
   position: relative;
   right: 50px;
   top: -7px;
   @media screen  and (max-width: 800px ) {
       
    top: -15px;
    right:30%; 
  
   }

   @media screen  and (max-width: 490px ) {
       
   font-size: 13px;
   left: -80px;
      }
   
}

.sidebar-online{
    font-size: 11px;
    color: green;
    margin-top: 2px;
    position: relative;
    right: 10px;
    top:3px;

    @media screen  and (max-width: 490px ) {
       
        top: -6px;
        left: -40px;
           }
 
}


.sidebar-offline{
    font-size: 11px;
    color: red;
    margin-top: 2px;
    position: relative;
    right: 10px;
    top:3px;
    @media screen  and (max-width: 490px ) {
       left: -40px;
       top: -6px;
           }
  
}
.sidebar-notice{
  cursor: pointer;
  font-size: 15px;
  position: relative;
  left: 0px; 
  max-width: 60px;

  @media screen  and (max-width: 800px ) {

    top: -90px;
   
        }

  
  &:hover{
      transform: scale(1.1);
      opacity: 0.9;
  }
}