.sidebar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 14%;
  top: 180px;
  height: 690px;
  overflow: scroll;
  z-index: 999;

  @media screen and (max-width: 1200px) {
    right: 11%;
    z-index: 999;
  }
  @media screen and (max-width: 1000px) {
    right: 9%;
    z-index: 999;
  }
  @media screen and (max-width: 900px) {
    right: 2%;
    z-index: 999;
  }
  @media screen and (max-width: 700px) {
    right: -5%;
    z-index: 999;
  }


  @media screen and (max-width: 490px) {
    right: -22%;
  }
}
#sidebar-hide{
  display: none;
  @media screen and (max-width: 800px) {
    display: contents;
     }
.sidebar-display{

  
  @media screen and (max-width: 800px) {
display: none;
  }

}


  

}
.sidebar-test-profile {
  max-width: 150px;
  position: relative;
  z-index: -1;

  @media screen and (max-width: 800px) {
    margin-right: 30px;
    font-size: 13px;
    max-width: 120px;
  }
}
.sidebar-images {
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 30px;
  @media screen and (max-width: 490px) {
    margin-bottom: 25px;
    height: 40px;
    width: 40px;
  }

  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

.sidebar-name {
  position: relative;
  right: 50px;
  top: -7px;
  @media screen and (max-width: 800px) {
    top: -15px;
    right: 30%;
  }

  @media screen and (max-width: 490px) {
    font-size: 13px;
    left: -80px;
  }
}

.sidebar-online {
  font-size: 11px;
  color: green;
  margin-top: 2px;
  position: relative;
  right: 10px;
  top: 3px;

  @media screen and (max-width: 490px) {
    top: -6px;
    left: -40px;
  }
}

.sidebar-offline {
  font-size: 11px;
  color: red;
  margin-top: 2px;
  position: relative;
  right: 10px;
  top: 3px;
  @media screen and (max-width: 490px) {
    left: -40px;
    top: -6px;
  }
}
.sidebar-notice {
  cursor: pointer;
  font-size: 15px;
  position: relative;
  left: 0px;
  max-width: 60px;

  @media screen and (max-width: 800px) {
    top: -90px;
  }

  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

#sidebar-test {
  position: relative;
  bottom: 25px;

}

#send-message-span {
 display: flex;
 flex-direction: column;
 cursor: pointer;
 font-size: 15px;
}
