.profile-container{
    width: 40%;
    min-width: 500px;
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: -100px;
    padding-top:10px;
    border: 1px  solid rgba(59, 142, 160, 0.802);
    margin-top: 13%;
    margin-left: 15%;
    background: white;
    opacity: 0.98;
    border-radius:50px;
   
    
    @media screen  and (max-width: 1500px ) {
         top: 70px;
 
        }
     
    @media screen  and (max-width: 1000px ) {
       left: -60px;
        top: 140px;
        min-width: 440px;
       }
    

    #profile-modal-button{
       position: relative;
       top: -80%;
       right: -35%;

       &:hover{
           transform: scale(1.1);
           opacity: 0.9;
       }
    }


}    #profile-greeting{
        position: relative;
        top: -80px;
        font-size: 20px;
        max-width: 140px;
        @media screen  and (max-width: 1400px ) {

            top: -70px;
     
               }
    }

    #profile-image-container{

       display: flex;
       justify-content: flex-start;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        overflow: hidden;
        top: 10px;
        left: 30px;
        position: absolute;
       
&:hover{
            transform: scale(1.1);
        }
    }
    #profile-image-update{
        top: 70px;
        left: 30px;
        font-size:11px;
       
        position: absolute;

        &:hover{
            transform: scale(1.3);
           cursor: pointer;
        }

    }

#profile-image-update-dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 85px;
    left: -10px;
   position: absolute;
   
}

#profile-cart{
    position: relative;
    left: -300px;
    top: -50px;

    
    // @media screen  and (max-width: 1700px ) {
    // top: -50px;
    // position: relative;
    // left: -300px;
    //    }

       @media screen  and (max-width: 1000px ) {
        top: -50px;
        position: relative;
        left: -270px;
           }
    
}
#profile-nosell{
    position: relative;
    top: -100px;
    font-size: 50px;
    max-width: 140px;
    
}

.profile-sellingitems{
    position: relative;
    left: 160px;
    top: 0px;
    z-index: 5;
    overflow: scroll;
    background: white;
    border: 1px solid black;
    width: 220px;
    height: 240px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    z-index: 5;
    outline: none;
   

       @media screen  and (max-width: 1000px ) {
        top: 0px;
       left: 110px;
        position:relative;
        width: 150px;

           }
    
}