.profile-icon {
  height: 80%;
  top: 7px;
  position: absolute;
  right: 100px;
  z-index: 5;

  &:hover {
    cursor: pointer;
  }
}
.profile-icon-signin {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile-icon-dropdown {
  font-size: 14px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 7px;
  border: 1px solid black;
  background-color: white;
  position: fixed;
  z-index: 5;
}

.profile-icon-image {
  border: 1px solid rgba(199, 135, 135, 0.337);
  border-radius: 30px;

  &:hover {
    transform: scale(1.1);
    opacity: 0.85;
  }
}

#profile-icon-title {
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    opacity: 0.85;
  }
}
