.video-chat-container {
z-index: 999;
  
  background-color: rgba(255, 255, 255, 0.46);
  height: fit-content;
  @media screen and (max-width: 1200px) {
   left: -40px;
  }
}

.video-chat-localstream {
  width: 105px;
  
 
  position: relative;
  top: 50%;
  right: -100px;

  @media screen and (max-width: 800px) {
    width:100px;
   }
}

video-chat-remotestream {
  width: 200px;
  
  position: relative;
  top: -200px;

  @media screen and (max-width: 800px) {
    width: 100px;
    max-height: 150px;
   }

  }
