.search-box{
    border: 1px solid rgba(0, 0, 0, 0.596);
    outline: none;
    height: 30px;
    width: 300px;
    line-height: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    right: 200px;
    position: relative;
    top:20px;
    min-width: 100px;
    z-index: 1;

    @media screen  and (max-width: 1130px ) {
        max-width: 170px;
        top: 60px;
        position: absolute;
        margin-bottom: 20px;
        left: 115px;
        
        
      }
   
}
    