.profile-messages-container {
  position: relative;
  left: -20px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1000px) {
    left: -75px;
    margin-right: 50px;
    margin-left: 40px;
    font-size: 12px;
  }

  @media screen and (max-width: 490px) {
    width: 120px;
  }
}
.profile-messages-recieved {
  margin-bottom: 5px;
}
#profile-messages-sent {
  right: -215px;
  position: relative;

  background: rgb(53, 160, 62);
  margin-left: 5%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px grey;
  display: flex;
  padding-right: 10px;
  padding-left: 5px;
  word-break: break-all;
  flex-direction: column;
  margin-bottom: 5px;
  max-width: 120px;
  padding: 5px;

  @media screen and (max-width: 1000px) {
    right: -160px;
    max-width: 100px;
  }
}

#profile-messages-sentcont {
  position: absolute;
  display: flex;
  flex-direction: column;
}

#profile-messages-recieved {
  background: rgb(205, 236, 255);
  margin-left: 5%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px grey;
  display: flex;
  padding-right: 10px;
  padding-left: 5px;
  word-break: break-all;
  flex-direction: column;
  margin-bottom: 5px;
  max-width: 120px;
  padding: 5px;

  @media screen and (max-width: 1000px) {
    position: relative;
    right: 10px;
    max-width: 100px;
  }
}

#profile-messages-sent-date {
  font-size: 10px;
  z-index: 888;
  background: transparent;
  color: whitesmoke;

  @media screen and (max-width: 1000px) {
    right: -80px;
  }
}

#profile-messages-recieved-date {
  font-size: 11px;
  display: flex;
  position: relative;
  margin-top: 10px;
  background: transparent;
  color: rgb(145, 32, 32);

  @media screen and (max-width: 1000px) {
    font-size: 9px;
    justify-content: flex-end;
  }
}
