.listed-items-container{
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 170px;
    position: relative;
    height: 130px;
    font-size: 14px;
    

    
    @media screen  and (max-width: 1000px ) {
        top: 0px;
       left: 140px;
        position:relative;
        width: 150px;

           }
}

.listed-item-toggle{
    color: red;
    cursor: pointer;
    margin-bottom: 12px;

    &:hover{
        transform: scale(1.1);
        opacity: 0.9;
    }
}



   
