.direct-messaging-container {
  z-index: 999;
  position: relative;
  top: 480px;

  @media screen and (max-width: 800px) {
    top: 440px;
  }
}

#direct-messaging-button {
  position: relative;
  top: 20px;
  left: 50px;

  @media screen and (max-width: 800px) {
    position: relative;
    left: -20px;
    z-index: 99;
  }
}

#direct-messaging-input {
  position: relative;
  height: 60px;
  right: -150px;
  @media screen and (max-width: 800px) {
    right: -80px;

    position: relative;
    z-index: 99;
  }
}
