.nav-shared-container {
  z-index: 5;
  position: fixed;
  top: 0;
  padding-top: 10px;


  @media screen and (max-width: 800px) {
    padding-top: 0px;
  }
}

.nav-shared-logo {
  display: flex;
  justify-content: flex-start;
  position: relative;
  right: -15px;
  z-index: 5;
  bottom: 0px;
  background: transparent;
  height: 60px;
}
.nav-shared-profileicon {
  position: fixed;
  right: -50px;
  top: 10px;

  @media screen and (max-width: 800px) {
    position: relative;
    right: -110px;
    margin-top: 37px;
    bottom: -100px;
  }
  @media screen and (max-width: 490px) {
   
    right: -120px;
   
  }
}
