#message-box-name {
  
  @media screen and (max-width: 800px) {
    left: -40px;
    position: relative;
  }
}

#message-box-date {
  display: flex;
  flex-direction: column;
  position: relative;
}

#message-box-image {
  max-width: 30px;
  max-height: 25px;
  top: -16px;
  position: relative;
left: -100px;
  padding-left: 100px;
  padding: 0;
  @media screen and (max-width: 800px) {
    right: -40px;
    top: -6px;
    position: relative;
  }

  &:hover {
    max-height: 200px;
    max-width: 500px;
  }
}

#message-box-image-s {
  max-width: 30px;
  max-height: 25px;
  
  top: 0px;
  position: relative;
  left: 320px;
  padding: 0;
  @media screen and (max-width: 1200px) {
  left: 50px;
    top: -6px;
    position: relative;
    max-width: 20px;
  }

  &:hover {
    max-height: 200px;
    max-width: 500px;
  }
}


#message-box-profile {
  border-radius: 20px;
  position: relative;
  right: 15px;
  @media screen and (max-width: 800px) {
    right: 50px;
    position: relative;
  }
}


#message-box-date {
  display: flex;
  justify-content: flex-end;
  max-width: 50px;
  font-size: 10px;
  color: grey;
  margin-left: 7%;

  @media screen and (max-width: 800px) {
    left: -20px;
    position: relative;
  }
}

#message-box-date-s {
  display: flex;
  justify-content: flex-end;
  max-width: 50px;
  font-size: 10px;
  color: grey;


  @media screen and (max-width: 800px) {
    
    position: relative;
    right: 20px;

    top: 36px;
  }
}
#message-box-button {
  display: flex;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}

#message-box-likes {
  position: relative;
  font-size: 12px;
  top: 22px;
}
.message-box-novid{
  display: none
}

.message-box-green{
  color:green
}
#message-box-vid{
  margin-left: 80%;

  @media screen and (max-width: 1300px) {
    
margin-left: 50%;
  }

  @media screen and (max-width: 900px) {
    
    margin-left: 30%;
      }
}
