.product-filter-page{


  .products-filter-spacing{
position: relative;
bottom: -100px;
margin-bottom: 100px;

@media screen  and (max-width: 800px ) {
   

   
 }
}
#product-filter-title {
  margin-bottom: 70px;
  margin-top:50px;
  position: relative;
}

.product-filter-loading{
  color: red;

  position: fixed;
}

}#product-filter-filter-container{

  margin-left: 10px;
  width: 80px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: rgb(10, 10, 10);
  position: fixed;
  left: 0px;
  top: 150px;
  
  
  @media screen  and (max-width: 800px ) {
   
   position: fixed;
    left: 10px;
    top: 150px;
    
  }

}
.product-filter-filter-item {
  border-bottom: 1px solid black;
 cursor: pointer;
 margin-right: 4px;
}
