.App {
  text-align: center;
}

body{

  @media screen  and (max-width: 800px ) {
    padding: none;
  }
}

a{
  text-decoration: none;
  color: black;
 }

a:hover{
  cursor: pointer;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

button{
  
  color: white;
  height: 25px;
 font-size: 13px;
 background: black;
 border: none;
 
}
button:hover{
  transform: scale(1.1);
  color: goldenrod;
  cursor: pointer;
  font-weight: bold;
  border: 2px 2px 2px 2px goldenrod
}

input{
  outline: none;
  border : 1px solid rgba(0, 0, 0, 0.179);
  
}

