.App {
  text-align: center;
}

body{

  @media screen  and (max-width: 800px ) {
    padding: none;
  }
}

a{
  text-decoration: none;
  color: black;
 }

a:hover{
  cursor: pointer;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

button{
  
  color: white;
  height: 25px;
 font-size: 13px;
 background: black;
 border: none;
 
}
button:hover{
  transform: scale(1.1);
  color: goldenrod;
  cursor: pointer;
  font-weight: bold;
  border: 2px 2px 2px 2px goldenrod
}

input{
  outline: none;
  border : 1px solid rgba(0, 0, 0, 0.179);
  
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  position:fixed;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.test{
  z-index: 99;
  width:500px;
  height: 500px;
  margin-top:100px;
  position: fixed;
  top: 500px;
  right: 500px;
}

#message-box-container{
   
  width: 100%;
  display: flex;
  justify-content: flex-start;
  word-break: all;

  @media screen  and (max-width: 800px ) {
     
      position: relative;
      left: -50px;
         }
  
}

#message-box-message{
  background: rgb(205, 236, 255);
  margin-left: 5%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px grey;
  display:flex;
  padding-right:10px;
 padding-left: 5px;
 word-break: break-all;

 @media screen  and (max-width: 800px ) {
  
     }
    }
 
#message-box-message:hover{
      transform: scale(1.1);
      box-shadow: 4px 4px 8px 0; 
}