.chat-page-scroller {
    margin-top: 15px;
    width: 68%;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: whitesmoke;
    margin-left: 6%;
    outline: none;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
  
    @media screen and (max-height: 900px) {
      height: 600px;
    }
  
    @media screen and (max-height: 800px) {
      height: 400px;
    }
  
    @media screen and (max-height: 700px) {
      height: 360px;
    }
  
    @media screen and (max-height: 600px) {
      height: 300px;
    }
  
    @media screen and (max-width: 800px) {
    }
  
    @media screen and (max-width: 490px) {
      margin-top: 30px;
    }
  }
  
  .chat-page-searchbox {
    z-index: 99;
  
    @media screen and (max-width: 1250px) {
      position: relative;
      bottom: -35px;
      left: -120px;
    }
  
    @media screen and (max-width: 490px) {
      width: 120px;
      bottom: -50px;
      left: -50px;
    }
  }
  
  .chat-page-roomlink {
    width: 200px;
    justify-content: center;
    left: -230px;
    margin-left: 10px;
    position: relative;
    bottom: -20px;
  
    @media screen and (max-width: 800px) {
      left: -50px;
      font-size: 13px;
      left: -100px;
    }
  
    @media screen and (max-width: 490px) {
      bottom: -25px;
      margin-left: 5px;
    }
  
    &:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }
  }
  
  #chat-page-send {
    position: absolute;
    bottom: 39px;
    margin-left: -1%;
    width: 70%;
    box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
    border: none;
  
    height: 76px;
    @media screen and (max-width: 1300px) {
      margin-left: 1.1%;
    }
    @media screen and (max-width: 1200px) {
      margin-left: 1.4%;
    }
    @media screen and (max-width: 1000px) {
      width: 90%;
      height: 50px;
      bottom: 23px;
      margin-left: -5%;
    }
  
    @media screen and (max-width: 490px) {
      width: 95%;
      margin-left: -9%;
      bottom: 20px;
    }
  }
  #chat-page-button {
    margin-left: 24%;
    bottom: 20px;
    z-index: 5;
    width: 15%;
    height: 20px;
    position: absolute;
    background: #2ca4ab;
    @media screen and (max-width: 800px) {
      width: 19%;
      bottom: 1px;
      margin-left: 20%;
    }
  
    &:hover {
      box-shadow: 3px 3px 3px #cdecff;
      color: rgb(220, 220, 161);
    }
  }
  #chat-page-signin {
    margin-left: 4%;
    bottom: 10px;
    z-index: 5;
    width: 25%;
    height: 30px;
    position: absolute;
    font-size: 15px;
  
    @media screen and (max-width: 800px) {
      width: 19%;
      bottom: 20px;
    }
  }
  
  #chat-page-image {
    margin-left: 15%;
    bottom: 120px;
    z-index: 5;
    width: 15%;
    height: 20px;
    position: absolute;
  
    @media screen and (max-width: 1480px) {
      width: 30%;
      margin-left: 1%;
      bottom: 90px;
    }
    @media screen and (max-width: 800px) {
      bottom: 120px;
      width: 40%;
      margin-left: 5%;
    }
  }
  
  #chat-page-imagebutt {
    margin-left: 14%;
    bottom: 120px;
    z-index: 5;
    height: 24px;
    position: absolute;
    z-index: 10;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
  
    color: white;
  
    @media screen and (max-width: 1480px) {
      bottom: 90px;
      margin-left: -1%;
    }
    @media screen and (max-width: 800px) {
      bottom: 120px;
      margin-left: 1.5%;
    }
  }
  
  .hide-div {
    margin-top: 60px;
    width: 65%;
    height: 90px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: whitesmoke;
    margin-left: 6%;
    outline: none;
    border: 1px solid black;
    z-index: 999;
    position: relative;
  }
  
  .chat-page-vidhide {
    display: none;
  }
  
  .chat-page-vidshow {
    position: absolute;
    left: 30%;
    top: 30%;
  }
  #chat-page-userinput {
    left: 148px;
    bottom: 20px;
    z-index: 5;
    width: 200px;
    height: 23px;
    position: absolute;
  
    @media screen and (max-width: 1000px) {
      bottom: 80px;
      width: 120px;
      left: 35px;
    }
  
    @media screen and (max-width: 490px) {
      left: 10px;
      width: 100px;
    }
  }
  #chat-page-inputbutton {
    position: absolute;
    bottom: 20px;
    left: 360px;
    height: 27px;
    background: #2ca4ab;
  
    @media screen and (max-width: 1000px) {
      height: 27px;
      bottom: 80px;
      left: 162px;
      width: 40px;
      @media screen and (max-width: 490px) {
        bottom: 80px;
        left: 110px;
        width: 30px;
        font-size: 9px;
      }
    }
    &:hover {
      color: rgb(220, 220, 161);
    }
  }
  
  .chat-page-icons {
    position: absolute;
    z-index: 999;
    justify-content: space-between;
  
    background: #2ca4ab;
    border-radius: 40px;
    left: 50%;
    padding: 2px;
    color: white;
    height: 23px;
  
    bottom: 141px;
  
    @media screen and (max-width: 800px) {
      height: 23px;
      left: 280px;
      bottom: 80px;
    }
    @media screen and (max-width: 490px) {
      left: 150px;
    }
  }
  
  #chat-page-changename {
    position: relative;
    top: -490px;
    left: 35%;
    height: 20px;
  
    z-index: -1;
  }
  
  .chat-page-video-logs {
    overflow-y: scroll;
    max-height: 100px;
    background: white;
    left: 25%;
    position: fixed;
    z-index: 555;
    box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
    top: 6%;
  
    @media screen and (max-width: 1000px) {
      max-width: 250px;
      font-size: 13px;
    }
  }
  
  .vid-container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 77;
    top: 6%;
    margin-left: 25%;
  
    @media screen and (max-width: 1200px) {
      margin-left: 56%;
      font-size: 15px;
    }
  
    .chat-page-groupchat {
      display: flex;
      align-items: center;
      width: 200px;
      position: fixed;
      top: 500px;
      z-index: 999;
    }
  }
  
  #vid-join-button {
    @media screen and (max-width: 1200px) {
      font-size: 10px;
      position: relative;
    }
  }
  
  .vid-animation {
    position: relative;
  
    min-width: 100px;
    max-width: 200px;
    max-height: 2px;
    background-color: rgb(9, 8, 8);
    position: relative;
    animation: myfirst 5s linear 2s infinite;
  
    @media screen and (max-width: 1200px) {
      top: 40px;
      right: 120px;
    }
  }
  
  @keyframes myfirst {
    50% {
      background-color: rgba(72, 199, 125, 0.659);
    }
  }
  #chat-page-side-butt {
    display: none;
    @media screen and (max-width: 800px) {
      position: absolute;
      top: 60px;
      right: 25%;
      color: white;
      background: #2ca4ab;
      display: inline;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    @media screen and (max-width: 490px) {
      top: 25px;
    }
  }
  #chat-side-bar-show {
    display: contents;
    z-index: 999;
    position: fixed;
    top: 0em;
  }
  #chat-side-bar-hide {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .chat-page-dark {
  }
  