
.chat-back{

  z-index: 999;
}
.chat-page-scroller {
  margin-top: 25px;
  width: 68%;
  height: 50em;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: whitesmoke;
  margin-left: 6%;
  outline: none;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
  margin-top:14px;

  
  @media screen and (max-height: 900px) {
    height: 600px;

  }

  @media screen and (max-height: 800px) {
    height: 500px;
 
  }

  @media screen and (max-height: 700px) {
    height: 350px;
 
  }

  @media screen and (max-width: 800px) {
    width:80%;
    
   
  }

  @media screen and (max-width: 490px) {
    height: 400px;
   
  }
}

.chat-page-searchbox {
  z-index: 99;


  @media screen and (max-width: 1250px) {
    position: relative;
    bottom: -35px;
    left: -120px;
  }
}

.chat-page-roomlink {
  width: 200px;
  justify-content: center;
  left: -230px;
  margin-left: 10px;
  position: relative;
  bottom: -20px;

  @media screen and (max-width: 800px) {
    left: -50px;
    font-size: 13px;
    left: -100px;
  }

  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

#chat-page-send {
  position: absolute;
  bottom: 59px;
  margin-left: -1%;
  width: 70%;
  box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
  border: none;


  height: 76px;
  @media screen and (max-width: 1300px) {
    margin-left: 1.1%;
  }
  @media screen and (max-width: 1200px) {
    margin-left: 1.4%;
  }
  @media screen and (max-width: 1000px) {
    width: 90%;
    height: 50px;
    bottom: 23px;
    margin-left: -5%;
  }
}
#chat-page-button {
  margin-left: 24%;
  bottom: 40px;
  z-index: 5;
  width: 15%;
  height: 20px;
  position: absolute;
  background:#2CA4AB;
  @media screen and (max-width: 800px) {
    width: 19%;
    bottom: 5px;
    margin-left: 20%;
  }

  &:hover {
    box-shadow: 3px 3px 3px #cdecff;
    color:rgb(220, 220, 161);
  }
}
#chat-page-signin {
  margin-left: 4%;
  bottom: 10px;
  z-index: 5;
  width: 25%;
  height: 30px;
  position: absolute;
  font-size: 15px;

  @media screen and (max-width: 800px) {
    width: 19%;
    bottom: 20px;
  }
}

#chat-page-image {
  margin-left: 15%;
  bottom: 120px;
  z-index: 5;
  width: 15%;
  height: 20px;
  position: absolute;

  @media screen and (max-width: 1480px) {
    width: 30%;
    margin-left: 1%;
  bottom: 90px;
   

  }
  @media screen and (max-width: 800px) {
    bottom: 120px;
    width: 40%;
    margin-left:5%;
   

  }
}

#chat-page-imagebutt{
margin-left: 14%;
bottom: 120px;
z-index: 5;
height: 24px;
position: absolute;
z-index: 10;
text-shadow: 1px 1px 1px  white;
font-weight: bold;


color: white;

@media screen and (max-width: 1480px) {
   
  bottom: 90px;
  margin-left: -1%;
   

  }
@media screen and (max-width: 800px) {
bottom: 120px;
margin-left: 1.5%;
}
}

.hide-div {
  margin-top: 60px;
  width: 65%;
  height: 90px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: whitesmoke;
  margin-left: 6%;
  outline: none;
  border: 1px solid black;
  z-index: 999;
  position: relative;
}

.chat-page-vidhide {
  display: none;
}
#chat-page-userinput {
  left: 148px;
  bottom: 20px;
  z-index: 5;
  width: 200px;
  height: 23px;
  position: absolute;

  @media screen and (max-width: 1000px) {
    bottom: 80px;
    width: 120px;
    left: 60px;
  }
}
#chat-page-inputbutton {
  position: absolute;
  bottom: 20px;
  left: 360px;
  height: 27px;
  background:#2CA4AB;

  @media screen and (max-width: 1000px) {
    height: 27px;
    bottom: 80px;
    left: 190px;
    width: 40px;
    
  }
  &:hover {
    color:rgb(220, 220, 161);
  }
}

.chat-page-icons{
 position: absolute;
 z-index: 999;

margin-left: 45%;
background:#2CA4AB;
border-radius: 40px;

padding: 2px;
color: white;
height: 23PX;

bottom: 141px;
 

@media screen and (max-width: 800px) {
  height: 23PX;
  margin-left: 45%;
  bottom: 80px;
  
}
}

#chat-page-changename {
  position: relative;
  top: -490px;
  left: 35%;
  height: 20px;
 
  z-index: -1;
}

.chat-page-video-logs{

  overflow-y: scroll;
  max-height: 100px ;
  background: white;
  left: 25%;
  position: fixed;
  z-index: 555;
  box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
  top: 6%;

  @media screen and (max-width: 1000px) {
    max-width: 250px;
    font-size: 13px;
  }

}

.vid-container{
display: flex;
justify-content: center;
position: relative;
z-index: 77;
top: 6%;
margin-left: 25%;

@media screen and (max-width: 1200px) {
  margin-left: 56%;
  font-size: 15px;
}




}

#vid-join-button{
 
  @media screen and (max-width: 1200px) {
    
    font-size: 10px;
    position: relative;

    
  }
}


.vid-animation{
  position: relative;

  min-width: 100px;
  max-width: 200px;
  max-height: 2px;
  background-color: rgb(9, 8, 8);
  position: relative;
  animation: myfirst 5s linear 2s infinite;
  
  @media screen and (max-width: 1200px) {
    top: 40px;
    right: 120px;
  }
  
}

@keyframes myfirst {

  50%  {background-color:rgba(72, 199, 125, 0.659);}

  

}
#chat-page-side-butt{
  display: none;
  @media screen and (max-width: 800px) {
  position: absolute;
  top: 60px;
  right: 25%;
 color: white;
  background:#2CA4AB;    
  display:inline;
    position: absolute;
    top:20px;
    right: 20px;
    
  }
}
#chat-side-bar-show{
  display: flex;
}
#chat-side-bar-hide{

  @media screen and (max-width: 800px) {
 display: none;
  }
}
.chat-page-dark{}