.chat-page-scroller {
  margin-top: 50px;
  width: 65%;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: whitesmoke;
  margin-left: 6%;
  outline: none;
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (max-width: 800px) {
    height: 580px;
    margin-top: 60px;
    width: 65%;
  }

  @media screen and (max-width: 490px) {
    width: 61%;
  }
}

.chat-page-searchbox {
  @media screen and (max-width: 800px) {
    position: relative;
    bottom: -50px;
  }
}

.chat-page-roomlink {
  width: 200px;
  justify-content: center;
  left: -230px;
  margin-left: 10px;
  position: relative;
  bottom: -20px;

  @media screen and (max-width: 800px) {
    left: -50px;
    font-size: 13px;
    left: -100px;
  }

  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

#chat-page-send {
  position: absolute;
  bottom: 40px;
  z-index: 5;
  width: 55%;
  height: 70px;
  @media screen and (max-width: 1000px) {
    width: 55%;
    bottom: 50px;
  }
}
#chat-page-button {
  margin-left: 10%;
  bottom: 10px;
  z-index: 5;
  width: 15%;
  height: 30px;
  position: absolute;
  background: black;
  @media screen and (max-width: 800px) {
    width: 19%;
    bottom: 20px;
    margin-left: 0%;
  }

  &:hover {
    box-shadow: 3px 3px 3px #cdecff;
    color: #cdecff;
  }
}
#chat-page-signin {
  margin-left: 4%;
  bottom: 10px;
  z-index: 5;
  width: 25%;
  height: 30px;
  position: absolute;
  font-size: 15px;

  @media screen and (max-width: 800px) {
    width: 19%;
    bottom: 20px;
  }
}

#chat-page-image {
  margin-left: 35%;
  bottom: 12px;
  z-index: 5;
  width: 20%;
  height: 20px;
  position: absolute;
  @media screen and (max-width: 800px) {
    width: 25%;
    bottom: 20px;
    margin-left: 30%;
  }
}

.hide-div {
  margin-top: 60px;
  width: 65%;
  height: 90px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: whitesmoke;
  margin-left: 6%;
  outline: none;
  border: 1px solid black;
  z-index: 999;
  position: relative;
}

.chat-page-vidhide {
  display: none;
}
#chat-page-userinput {
  left: 135px;
  bottom: 13px;
  z-index: 5;
  width: 200px;
  height: 23px;
  position: absolute;

  @media screen and (max-width: 1000px) {
    bottom: 22px;
    width: 120px;
    left: 70px;
  }
}
#chat-page-inputbutton {
  position: absolute;
  bottom: 15px;
  left: 340px;
  height: 27px;

  @media screen and (max-width: 1000px) {
    height: 19px;
    bottom: 5px;
    left: 90px;
  }
}

#chat-page-changename {
  position: relative;
  top: -490px;
  left: 35%;
  height: 20px;
}

.vid-container{
display: flex;
justify-content: center;



}

.vid-animation{
  position: relative;
  top: 30px;
  right: 130px;
  min-width: 100px;
  max-width: 200px;
  max-height: 2px;
  background-color: rgb(9, 8, 8);
  position: relative;
  animation: myfirst 5s linear 2s infinite
}

@keyframes myfirst {

  50%  {background-color:rgba(72, 199, 125, 0.659);}

}