.weather-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 17%;
  top: 50px;
  background:transparent;
  box-shadow: 2px ,2px,2px solid#2ca5ab65;
  max-width: 180px;
  max-height: 180px;
  z-index: 10;
  

  @media screen and (max-width: 490px) {
    font-size: 13px;
    right: 25%;
  }
}

#weather-title {
  right: 17%;
  position: absolute;
  top: 0px;
  cursor: pointer;

  @media screen and (max-width: 490px) {
    font-size: 13px;
  }
}

#weather-subtitle {
  right: 17%;
  font-size: 12px;
  position: absolute;
  top: 40px;
}
#weather-button {
  width: 50px;
  height: 18px;
  background: #2ca5abce;
  &:hover{
    color: rgba(202, 208, 150, 0.768);
  }
}

#weather-warning-text {
  font-size: 9px;
  position: relative;
  bottom: -2px;
  min-width: 300px;
}
